*~
*.swp
/build
/build-windows
/source/aclocal.m4
/source/autom4te.cache/
/source/auxdir/auxsub/aclocal.m4
/source/auxdir/auxsub/autom4te.cache/
/source/auxdir/auxsub/configure
/source/auxdir/auxsub/Makefile.in
/source/build-aux
/source/configure
/source/doc/Makefile.in
/source/libs/aclocal.m4
/source/libs/autom4te.cache/
/source/libs/configure
/source/libs/freetype2/aclocal.m4
/source/libs/freetype2/autom4te.cache/
/source/libs/freetype2/configure
/source/libs/freetype2/Makefile.in
/source/libs/graphite2/aclocal.m4
/source/libs/graphite2/autom4te.cache/
/source/libs/graphite2/config.h.in
/source/libs/graphite2/configure
/source/libs/graphite2/include/graphite2/Makefile.in
/source/libs/graphite2/Makefile.in
/source/libs/harfbuzz/aclocal.m4
/source/libs/harfbuzz/autom4te.cache/
/source/libs/harfbuzz/config.h.in
/source/libs/harfbuzz/configure
/source/libs/harfbuzz/include/Makefile.in
/source/libs/harfbuzz/Makefile.in
/source/libs/icu/aclocal.m4
/source/libs/icu/autom4te.cache/
/source/libs/icu/configure
/source/libs/icu/include/layout/Makefile.in
/source/libs/icu/include/Makefile.in
/source/libs/icu/include/unicode/Makefile.in
/source/libs/icu/Makefile.in
/source/libs/libpng/aclocal.m4
/source/libs/libpng/autom4te.cache/
/source/libs/libpng/configure
/source/libs/libpng/include/Makefile.in
/source/libs/libpng/Makefile.in
/source/libs/Makefile.in
/source/libs/poppler/aclocal.m4
/source/libs/poppler/autom4te.cache/
/source/libs/poppler/config.h.in
/source/libs/poppler/configure
/source/libs/poppler/fofi/Makefile.in
/source/libs/poppler/goo/Makefile.in
/source/libs/poppler/include/fofi/Makefile.in
/source/libs/poppler/include/goo/Makefile.in
/source/libs/poppler/include/Makefile.in
/source/libs/poppler/Makefile.in
/source/libs/poppler/poppler/Makefile.in
/source/libs/teckit/aclocal.m4
/source/libs/teckit/autom4te.cache/
/source/libs/teckit/configure
/source/libs/teckit/include/teckit/Makefile.in
/source/libs/teckit/Makefile.in
/source/libs/zlib/aclocal.m4
/source/libs/zlib/autom4te.cache/
/source/libs/zlib/config.h.in
/source/libs/zlib/configure
/source/libs/zlib/include/Makefile.in
/source/libs/zlib/Makefile.in
/source/m4/libtool.m4
/source/m4/lt~obsolete.m4
/source/m4/ltoptions.m4
/source/m4/ltsugar.m4
/source/m4/ltversion.m4
/source/Makefile.in
/source/texk/aclocal.m4
/source/texk/autom4te.cache/
/source/texk/configure
/source/texk/kpathsea/aclocal.m4
/source/texk/kpathsea/autom4te.cache/
/source/texk/kpathsea/c-auto.in
/source/texk/kpathsea/configure
/source/texk/kpathsea/doc/Makefile.in
/source/texk/kpathsea/Makefile.in
/source/texk/kpathsea/man/Makefile.in
/source/texk/kpathsea/win32/Makefile.in
/source/texk/Makefile.in
/source/texk/web2c/aclocal.m4
/source/texk/web2c/autom4te.cache/
/source/texk/web2c/c-auto.in
/source/texk/web2c/configure
/source/texk/web2c/doc/Makefile.in
/source/texk/web2c/lib/Makefile.in
/source/texk/web2c/Makefile.in
/source/texk/web2c/man/Makefile.in
/source/texk/web2c/omegafonts/Makefile.in
/source/texk/web2c/otps/Makefile.in
/source/texk/web2c/otps/win32/Makefile.in
/source/texk/web2c/web2c/aclocal.m4
/source/texk/web2c/web2c/autom4te.cache/
/source/texk/web2c/web2c/c-auto.in
/source/texk/web2c/web2c/configure
/source/texk/web2c/web2c/Makefile.in
/source/texk/web2c/window/Makefile.in
/source/texk/web2c/xetexdir/etex_version.h
/source/texk/web2c/xetexdir/xetex_version.h
/source/utils/aclocal.m4
/source/utils/autom4te.cache/
/source/utils/configure
/source/utils/Makefile.in
