*~
*.swp
/build
/build-windows
/source/autom4te.cache/
/source/auxdir/auxsub/autom4te.cache/
/source/libs/autom4te.cache/
/source/libs/freetype2/autom4te.cache/
/source/libs/graphite2/autom4te.cache/
/source/libs/harfbuzz/autom4te.cache/
/source/libs/icu/autom4te.cache/
/source/libs/libpng/autom4te.cache/
/source/libs/poppler/autom4te.cache/
/source/libs/teckit/autom4te.cache/
/source/libs/zlib/autom4te.cache/
/source/texk/autom4te.cache/
/source/texk/kpathsea/autom4te.cache/
/source/texk/web2c/autom4te.cache/
/source/texk/web2c/web2c/autom4te.cache/
/source/utils/autom4te.cache/
