
body {
	/* font-family: verdana, lucida, sans-serif; */
	font: small sans-serif;
	color: #000000;
	background-color: #F0F0FF;
	margin-right: 2em;
	margin-left: 11em;
}

ul {
	list-style: square outside;
}

ol {
	list-style: decimal inside
}

h1, h2, h3, h4 {
	/* font-family: lucida sans, lucida, sans-serif; */
	font-family: sans-serif;
	color: #000000;
	font-weight: bold;
	text-align:  left;
	margin-left:   1em;
	margin-bottom: .1em;
	/* text-transform: uppercase; */
}

h1 {
	background-image: url("doc/images/dvipdfmx-logo.png");
	background-repeat: no-repeat;
	background-position: top right;
}

h2, h3 {
	padding: 0 0 0 16px;
	background-image: url("doc/images/rightarrow.png");
	background-repeat: no-repeat;
	background-position: top left;
}

h3 {
	background-position: 0 -0.2ex;

}

h1 {
	margin-left: 0;
	font-size: 200%;
	border-bottom: solid 3px #336699;
}

h2 {
	font-size: 140%;
	border-bottom: solid 2px #336699;
	width: 95%;
}

h3 {
	font-size: 120%;
	border-bottom: dotted 2px #336699;
	width: 16em;
}

h4 {
	color: #003366;
	font-size: 120%;
	margin-left: 1.5em;
}

em {
	font-weight: bold;
	font-style: normal;
}

p {
	text-align: justify;
	margin: .5em 2.5em .5em 2.5em;
}

p.abstract {
	margin: 1em 2.5em 1em 2.5em;
}

li {
	margin: .5em 2.5em .5em 2.5em;
	line-height: 120%;
}

pre {
	text-align: left;
	/* font-size: 110%; */
	line-height: 140%;
	font-family: monospace, fixed;
	margin: 1em 3.5em 1em 3.5em;
	white-space: pre;
	border: solid 2px #336699;
	background-color: #FFFFFF;
	padding: 1em 1em 1em 1em;
}

div.item {
	text-align: left;
	font-weight: bold;
}

div.description {
	text-align: justify;
	margin: 0.5em 1em 1em 0.5em;
}

.logo {
	float: right;
}

div.footer {
	text-align: left;
	border-top: solid 2px #003366;
	margin: 1em 1em 1em 1em;
	font-size: 80%;
	font-style: italic;
	padding:   1em 0em 1em 0em;
}

div.menu {
	margin: 0;
	padding: 0.5em;
	font-family: sans-serif;
	/* font-family: lucida sans, lucida, sans-serif; */
	font-weight: bold;
	line-height: 120%;
	position: absolute; /* Workaround for IE unsupported position: fixed */
	top:    3em;
	left:   .5em;
	width:  7em;
	background: white;
	border: dashed 2px #336699;
	/* background: transparent; */
}

div.menu p {
	text-align: left;
	margin: 0;
	padding: 0.5em 0.5em;
	border-bottom: dashed 2px #336699;
}

a.link {
	/* color: #0066CC; */
	color: #336699;
}

a.link:visited {
	/* color: #336699; */
	color: #666666;
}

a.link:hover {
	/* color: #0066CC; */
	color: #336699;
}

/* Workaround for IE/Mac bug. */
@media screen {
 body>div.menu {
	position: fixed;
 }
}

@media print {
 body>div.menu {
	display: none;
 }

 body>a.link {
	color: #000000;
 }
}
