Source: xetex
Section: "TeX Authoring"
Priority: optional
Maintainer: Jonathan Kew <jonathan_kew@sil.org>
Build-Depends: debhelper (>= 4.0.0), flex, bison, libfontconfig1-dev, libfreetype6-dev, libmagick6-dev
Standards-Version: 3.6.1

Package: xetex
Architecture: any
Depends: tetex-base, ${shlibs:Depends}
Description: An extension of TeX with Unicode and OpenType support
 XeTeX extends the TeX typesetting system (and macro packages
 such as LaTeX and ConTeXt) to have native support for the
 Unicode character set, including complex Asian scripts, and
 for OpenType and TrueType fonts.

