/XeTeX-reference.*.log
/XeTeX-reference.aux*
/XeTeX-reference.*.make
/XeTeX-reference.d
/XeTeX-reference.example
/XeTeX-reference.fls
/XeTeX-reference.log
/XeTeX-reference.out
/XeTeX-reference.pdf
/XeTeX-reference.toc
